
.form2{
    width: 80vw; 
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(255, 218, 159);
    border-radius: 8px;
}

label {
    display: block; 
    margin-bottom: 1%; 
    font-weight: bold;
}

input, button {
    width: 70%; 
    padding: 8px; 
    margin-bottom: 2%; 
    border: 1px solid #9b1f1f; 
    border-radius: 8px; 
}

button {
    margin-top: 5%;
    background-color: #df5d00; 
    color: #fff; 
    cursor: pointer; 
}

button:hover {
    background-color: #ba4e00; 
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px; 
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc; 
}